<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AttributeNames" value="true" />
		<add key="PreviewData" value="true" />
		<add key="DataTypes" value="true" />
		<add key="GenerateManifest" value="true" />
		<add key="parquet" value ="is.partition.format.parquet"/>
	</appSettings>
</configuration>